/**
 * @name Hide guilds
 * @version 1.0
 * @description CSS to collapse the guild section until hovered. ||
 * Best used on leftmost screen.
 * @author dootykins
 * @source https://github.com/24adamcho/Hide-Guilds-BetterDiscord
 */

/* hide guilds */
.guilds__2b93a:not(.tutorialContainer-1pL9QS){
	width:10px;
	transition: width 0.1s ease-out;
}
.guilds__2b93a:hover:not(.tutorialContainer-1pL9QS) {
	width: 71px;
	transition: width 0.1s ease-out;
}

/* member list slide */
@keyframes slideOut {
	0% {
		transform:translateX(100%);
	}
	100% {
		transform:translateX(0%);
	}
}
.profilePanel-2VBkh8,
.container-2vWgD2 {
	animation: slideOut 0.5s ease-out;
	overflow:hidden;
}

/* shove around guild alert badges */
.lowerBadge-3j0ZAg,
.upperBadge_c7cfb3 {
	left:0;
	right:auto;
	scale:90%;
	transform: translate(-110%, 0%) !important;
}
.upperBadge_c7cfb3 {
	transform-origin: top right;
	transform: translate(-110%, 0%) !important;
}
.lowerBadge__669e7 {
	transform-origin: bottom right;
	transform: translate(-290%, -1%) !important;
}
.lowerBadge__669e7 .numberBadge__50328 {
	width:10px !important;
	height:10px;
	text-align:center;
	font-size:10px;
}

/* remove server image mask */
.wrapper__3af0b svg mask use {
	fill:white !important;
}
.wrapper_d281dd img {
	border-radius: 50%;
}


